---
import Empty from "../components/Empty.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="朋友 - Artea" description="朋友列表">
  <div class="max-w-4xl mx-auto px-6 py-8">
    <Empty />
  </div>
</Layout>
