---
import { SocialLinks } from "../components/social";
import { arteaSocialLinks } from "../config/social";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="max-w-4xl mx-auto px-6 py-12 flex flex-col items-center gap-6">
    <div class="inline-flex items-center gap-8">
      <img
        src="/avatar.svg"
        alt="Artea Avatar"
        class="w-32 h-32 rounded-full ring-4 shadow-lg flex-shrink-0"
      />
    </div>
    <h1 class="text-4xl md:text-5xl font-bold text-gray-900">Hi, I'm Artea</h1>
    <SocialLinks links={arteaSocialLinks} size="md" />
  </div>
</Layout>
