---
import { Counter as ReactCounter } from '../components/react/Counter'
import VueCounter from '../components/vue/Counter.vue'
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Welcome />
  <main
    mx="auto"
    max-w="4xl"
    p="x-6 y-8"
  >
    <div
      grid="~ cols-1 gap-8 md:cols-2"
      m="b-8"
    >
      <section
        border="~ gray-200"
        rounded="xl"
        bg="white"
        p="6"
        shadow="lg hover:xl"
        transition="all duration-300"
      >
        <ReactCounter message="Hello from React!" client:load />
      </section>

      <section
        border="~ gray-200"
        rounded="xl"
        bg="white"
        p="6"
        shadow="lg hover:xl"
        transition="all duration-300"
      >
        <VueCounter message="Hello from Vue!" client:load />
      </section>
    </div>
  </main>
</Layout>
